@import url(https://fonts.googleapis.com/css?family=Lato);
@import url(https://fonts.googleapis.com/css?family=Muli:600,700,800);
@import url('https://fonts.googleapis.com/css?family=Inconsolata:400');
@import url('https://fonts.googleapis.com/css?family=Cormorant+Upright:700');

body {
  font-family: 'Lato', 'Palatino Linotype', 'Book Antiqua', Palatino, 'Microsoft YaHei', 'Songti SC', serif;
}

h1, h2, h3 {
  font-family: 'Muli';
  font-weight: 600;
}

.inverse h1 {
  font-family: 'Muli';
  font-weight: 800;
  font-size: 2.5em; 
}

.remark-code, .remark-inline-code {
  font-family: 'Muli';
  color: #BF1F9A;
  font-weight: 800;
}

.fancy{
  font-family: 'Cormorant Upright', serif;
  font-weight: 700;
}

.fancy2{
  font-family: 'Cormorant Upright', serif;
  font-weight: 500;
}

.bright {
  color: #F9388C;
}

.bluecircle{
  font-family: 'Cormorant Upright', serif;
  font-weight: 500;
  color: #3399FF;
}

.redbracket{
  font-family: 'Cormorant Upright', serif;
  font-weight: 500;
  color: #FF0000;
}

.kulas {
  color: #BF1F9A;
}

.white {
  color: #FDFEFF;
}

.black {
  color: #000000;
}

.BLACK {
  color: #000000;
  font-weight: bold;
}

.medium { 
  font-size: 130%;
}

.neon {
  color: #6DFC18;
  font-weight: bold;
}

/* for mermaid */

.DiagrammeR g .label { 
  font-family: 'Lato'; 
  font-size: 14px; 
  color: rgb(51, 51, 51);
}

.Erg {
  font-family: 'Georgia, serif'; 
  color: #393DA8;
}

.eRg {
  font-family: 'Georgia, serif';
  color: #1A1E87;
}

.erG {
  font-family: 'Georgia, serif';
  color: #01055E;
}

